# Ambiente virtual do Python
venv/

# Arquivos de banco de dados SQLite
back-end/database/app.db

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do VS Code
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Logs
*.log
